<div class="article-container">
  <div class="title">{{article.title}}</div>
  <div class="content">{{article.textContent}}</div>
</div>

<div *ngIf="isEditing">
  <label>Title</label>
  <span class="form-value">
    <input [formControlName]="title" type="text">
  </span>

  <label>Content</label>
  <span class="form-value">
      <textarea #textArea [formControlName]="textContent"></textarea>
  </span>
</div>


<button class="btn" (click)="back()">Back</button>
<button *ngIf="!isEditing" class="btn" (click)="edit()">Edit</button>
<button *ngIf="isEditing" class="btn" (click)="save()">Save</button>
